.formulario-admininis{
    width: 525px;
    background: #ff6a3d;
    padding: 30px;
    margin: 150px;
    margin-top: 3px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    /* 
    Agregamos a la clase del section que contiene todo un box-shadow para darle una sombra a la caja
    */
    box-shadow: 7px 13px 37px #000;
}
.inputines{
    width: 100%;
    background: #eeebe7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #e65613;
    font-size: 18px;
    color: white;
}
.boton1{
    width: 100%;
    height: 50px;
    border: none;
    background: #0e8a33;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.boton2{
    width: 100%;
    border: none;
    background: #1f53c5;
    padding: 12px;
    margin-top: 13px;
    color: white;
    font-size: 16px;
}
/* editar */
.controlsss{
    width: 400px;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;

}
/* editar */
.formulario-admininis2{
    width: 500px;
    background: #ff6a3d;
    padding: 30px;
    margin: 150px;
    margin-top: 3px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    /* 
    Agregamos a la clase del section que contiene todo un box-shadow para darle una sombra a la caja
    */
    box-shadow: 7px 13px 37px #000;
}
/* paginador*/
.paginador ul{
padding: 15px;
list-style: none;
background: #fff;
margin-top: 15px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: flex-end;
}
.paginador a, .pageSelected{
    color: blue;
    border: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 35px;
}
.paginador a:hover{
    background: #ddd;
}
.pageSelected{
    color:#FFF;
    background:#ff501b;
    border: 1px solid #ff501b;

}

.altura-footer-admin{
    margin-top: 200px;
}
.buscar-a-izquierda{
    padding-right: 200px;
}
