
body{
    background-image: url(../img/Aerea_CerroAmarillo_ENAP.jpg);
    width: 100%;
    height: 100%;
    flex: auto;
}
.peticion{
    padding-top: 100px;
}
.chiquito{
    width: 350px !important;

}
.formulario_de_registro{
    width: 400px !important;
    background: #404c72 !important;
    padding: 30px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 150px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    /* 
    Agregamos a la clase del section que contiene todo un box-shadow para darle una sombra a la caja
    */
    box-shadow: 7px 13px 37px #000;
    
    
}

