/***** Etiquetas globales *******/
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5{
    font-weight: bold;
}
/********************************/


/* PARA SACARLE LINEA AZUL DETRAS DE TODOS LOS a (href)*/

a:hover{
    text-decoration: none;
}
/********************************************************/


/* Clases de utilidad */
.espacio-ingresar{
    padding-left: 5px;
    padding-right: 10px;
}
.altura{
    padding: 64px 0;
    
}

.altura5{
    padding: 46px 0;
    margin-top: 300px;
}



.logotipo{
    width: 85px;
    padding: 10px 0;
    
}

.sps--abv{
    
    background-color: #213C5F;
    color: white;
}

.sps--blw{
    background-color: #213C5F;
    color: #000;
    
}
.boton-ingresar-naranjo{
    background-color: rgb(245, 115, 61);
    color: white;
    font-weight: bold;
}
.boton-ingresar-naranjo:hover{
    background-color: #089ec1;
    
}
.letras-menu{
    font-weight: bold;
    color: white;
}

nav.sps--blw .logotipo{
    width: 50px;
}
.sobre-menu{
    background-color: #dc3545;
    width: 100%;
}
.logotipo-redes-sociales{
    width: 30px;
    height: 30px;
    padding: 10px 0 0 0;
}
.banner-video{
    background-image: url(../img/senda.png);
    background-repeat: no-repeat; /* evita que se repita la imagen */
    background-size: 100%; /* usa el 100% del largo de la pantalla */
    padding: 200px 150px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
  }
.banner-video img{
    width: 80px;
    height: 80px;
    position: relative;
}

/* SOMOS */
.cabecera-somos{
    padding: 150px 0 100px 0;
    background-image: url(../img/trabajadores-municipales/800-trabajadores-se-benefician-por-convenio-entre-Municipalidad-de-Coronel-y-Caja-18--e1587526558438-850x400.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 87px;
}
.texto-somos{
    color:black;
    
}
.banner-somos{
    background-image: url(../img/trabajadores-municipales/20170406_164732.jpg);
    background-position: center;
    background-size: cover;
    padding: 280px 0;
    text-align: center;
}



/* PAGINA INGRESAR */

.body{
    background: url(../img/Aerea_CerroAmarillo_ENAP.jpg) no-repeat center center fixed;
    background-size: cover;
    
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img{
    width: 100px;
    height: 100px;
    /* Si tiene imagen de fondo lo activo

    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;

    */
}
.main-section{
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;

}

/* FINAL PAGINA INGRESAR */


/* REGISTRARSE */
.body-registro{
    background: url(../img/Hualpén.jpg) no-repeat center center fixed;
    background-size: cover;
}





/* FINAL REGISTRARSE */

/* Proyectos globales */
.img-disponible {
    width: 60px;
    height: 60px;
    margin-top: 84px;
    margin-bottom: 35px;
}
.alejate-de-mi{
    padding: 15px;
}
.abierta{
   
    padding-top: 100px;
}
.logo-padding{
    padding-top: 250px;
}
.boton-proyectos{
    border-radius: 50px;
    width: 120px;
    height: 40px;
}

/* FIN proyectos globales */







.boton_login{
    width: 25px !important;
    height: 20px !important;
    text-decoration: underline !important;
    border-radius: 15% !important;
    background: darkturquoise !important;
    border-color: darkturquoise !important;
}
.fondoletras{
    color: black;
}

.flyer-altura{
    height: 1800px !important;
}

/* ZOM IMAGENES INDEX */
.box img:hover{
    transform: scale(1.9);
}

.altura2{
    width:250px;
}
.espaciadoboton{
    margin-bottom: 15px;
}

.altura-img{
    height: 400px;
    
}


div.btn-group{
    margin: 20px 0;
}

.imagen-movil{
    border-radius: 24px
}
div.btn-group > button.btn-danger3 {
    color: rgb(229, 232, 236);
    background-color: #2d73db !important;
    height: 45px;
    border-color: #3b89c9;
    border: solid 2px;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-left: 90px;
}
.texto-bajando{
    margin-top: 120px;
}